@using LifeLike.Utils
@using LifeLIke.Utils
@model System.Collections.Generic.IEnumerable<LifeLike.ViewModel.LinkViewModel>

@{
    ViewBag.Title = "Url Manager";
    Layout = "_Layout";
}

<h2>Url Manager</h2>
@Html.ActionLink("Add New","Create","LinkManager", null, new {@class="btn btn-primary"})
<table class="table">
    <tr>
        <th>Name</th>
        <th>Icon </th>
        <th>Category</th>
        <th>Actions</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>        
            <td>
                @Html.Raw(HtmlUtils.GenerateIcon(item.IconName))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Edit","Update","LinkManager", new {id=item.Id}, new { @class="button btn-info"})
                @Html.ActionLink("Delete","Delete","LinkManager", new {id=item.Id}, new { @class="button btn-warning"})

            </td>
        </tr>
    }
</table>