@model System.Collections.Generic.IEnumerable<LifeLike.Models.Config>
@{
    ViewBag.Title = "Site Manager";
    Layout = "_Layout";
}

<h1>Page Configuration</h1>

@Html.ActionLink("Link Manager","Index","LinkManager", null, new {@class="btn btn-primary"})
@Html.ActionLink("Logs","Index","Log", null, new {@class="btn btn-primary"})
@Html.ActionLink("Pages","List","Page", null, new {@class="btn btn-primary"})

<h2>
    Settings:
</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Name</th>
 
                <th>Value</th>
                <th>Actions</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>        
    
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Edit","Update","SiteManager", new {id=item.Name}, new { @class="btn btn-info"})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>