@model LifeLike.Models.Config

@{
    ViewBag.Title = "Update: "+ Model.DisplayName;
    Layout = "_Layout";
}
<h2>Update Config</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>

@using (Html.BeginForm())
{
   
    @Html.HiddenFor(model=>model.DisplayName);
    @Html.HiddenFor(model=>model.Name);
    <div class="form-inline">
        <label class="mr-sm-2">Name</label>
        @Html.DisplayFor(model=>model.Name)
        <label class="mr-sm-2">Value</label>
        @Html.EditorFor(model=>model.Value)
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
}