@using System.Diagnostics
@model LifeLike.ViewModel.GalleryViewModel

@{
    if (Model?.Title!=null)
    {
        ViewBag.Title = Model.Title;
    }
    ViewBag.Subtitle = "Photo Gallery";
    Layout = "_Layout";
}
<h1>@Html.DisplayFor(model=>model.Place)</h1>
<markdown text=@Model?.Description></markdown>

<div class="row">
    @if (Model?.Photos != null)
    {    
        foreach (var photo in Model?.Photos)
        {
            <div class="col-md-4">
                @Html.DisplayFor(p => photo.Title)
                @Html.DisplayFor(p => photo.Url)
    
                <div class="item">
                    <img src="@photo.Url" alt="@ViewBag.Title">
                </div>
            </div>
        }
    }
</div>
