@model List< LifeLike.ViewModel.LinkViewModel>

@if (Model!=null && Model.Any())
{
    foreach (var item in Model)
    {
        if (!item.IsLink)
        {
            <li>
                <a href="@Url.Action(item.Action, item.Controller)">
                    <span class="glyphicon glyphicon-@item.IconName" aria-hidden="true"></span> @item.Name
                </a>
            </li>

        }
        else
        {
            <li><a href="@item.Link"> <span class="glyphicon glyphicon-@item.IconName" aria-hidden="true"> </span> @item.Name</a>           
            </li>
        }
    }    
}
@if (User.Identity.IsAuthenticated)
{

    <li>
        <a href="@Url.Action("Index", "SiteManager")">
            <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>Site Manager
        </a>
    </li>
    <li>
    
        <a href="@Url.Action("List", "Page")">
            <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>Pages
        </a>
        </li>
    <li>
        <a href="@Url.Action("Index", "LinkManager")">
            <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>Links
        </a>
        
        
    </li>
}