@using LifeLike.Utils
@model LifeLike.ViewModel.LinkViewModel

@{
    ViewBag.Title = "Create Url";
    Layout = "_Layout";
}

<h2>Create Url</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Name</label>
        @Html.EditorFor(model=>model.Name)
    </div>
    
    @Html.HiddenFor(model=>model.Id)
    
    
    <div class="form-group">
        
        <label>Url Category</label>
        @Html.DropDownListFor(model => model.Category, HtmlUtils.CategoryList)
    </div>
    
    
    <div class="form-inline">
        <label class="mr-sm-2">Action</label>
        @Html.EditorFor(model=>model.Action)
        <label class="mr-sm-2">Controller</label>
        @Html.EditorFor(model=>model.Controller)
    </div>
    <div class="form-group">
        <label>Order</label>
        @Html.EditorFor(model=>model.Order)
    </div>
    <div class="form-group">
        <label>Url</label>
        @Html.EditorFor(model=>model.Link)
    </div>
    <div class="form-group">
        <label>Icon</label>
        @Html.DropDownListFor(model => model.IconName, HtmlUtils.IconList)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}