@model LifeLike.ViewModel.GalleryViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.Id)
    <div class="form-group">
        <label class="control-label">Short Name: </label>
        @Html.DisplayFor(model=>model.ShortTitle, new {@class="form-control"})
    </div>
    
    <div class="form-group">
        <label class="control-label">Full Name: </label>
        @Html.DisplayFor(model=>model.Title, new {@class="form-control"})
    </div>
        
  
    <div class="form-group">
        <label class="control-label">Description:</label>
        @Html.DisplayFor(model => model.Description, new {@class = "form-control"})
    </div>
        
 
                
    <div class="form-group">
        <label class="control-label">Place:</label>
        @Html.DisplayFor(model=>model.Place, new {@class="form-control"})
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
}
