@model LifeLike.ViewModel.PageViewModel

@{
    ViewBag.Title = "Create New Page";
    Layout = "_layout";
}
<h2>Delete @Html.DisplayFor(model=>model.ShortName)</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete @Html.DisplayFor(model=>model.FullName)?</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(p=>p.Id);
    @Html.HiddenFor(p=>p.LinkId);
    @Html.HiddenFor(p=>p.Content);
    @Html.HiddenFor(p=>p.ShortName);
    @Html.HiddenFor(p=>p.FullName);



    <button type="submit" class="btn btn-primary">Delete</button>
}
