@using LifeLike.Utils
@model System.Collections.Generic.IEnumerable<LifeLike.Models.Page>

@{
    ViewBag.Title = "Page Manager";
    Layout = "_Layout";
}
@Html.ActionLink("Create","Create","Page",null, new { @class="btn btn-info"})

<table class="table">
    <tr>
        <th>Short Name</th>
        <th>Full Name </th>
        <th>Category</th>
        <th>Actions</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>    
       
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Edit","Update","Page", new {id=item.Id}, new { @class="btn btn-info"})
                @Html.ActionLink("Delete","Delete","Page", new {id=item.Id}, new { @class="btn btn-warning"})

            </td>
        </tr>
    }
</table>